.complete{
    text-decoration: line-through;
    color: black;
}

ion-button{
    margin-left: 5px;
}

h1{
    color: crimson;
}

ion-margin-top{
    margin-top: 5px;
}

ion-padding{
    padding: 2px;
}