<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-img src="/assets/home/task1.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title>Add your Tasks!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Use our app to keep track of your daily activities!
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-img src="/assets/home/task2.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Complete!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Mark tasks as complete once you've done them.
        Or even better, delete them!
      </ion-card-content>
    </ion-card>

</ion-content>
